@{

}
<h1>Reservation</h1>

<form action="/api/reserve" , method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="FirstName" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="LastName" value="Doe"><br><br>
    <label for="doctor">Doctor:</label><br>
    <input type="text" id="doctor" name="Doctor" value="Dentis"><br><br>
    <label for="lname">Time:</label><br>
    <input type="text" id="doctor" name="Time" value="15:00"><br><br>
    <input type="submit" value="Submit">
</form>